@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IbmPlexMone-Bold";
  src: url("../public/font/IBMPlexMono-Bold.ttf");
}

@font-face {
  font-family: "IbmPlexMone-Regular";
  src: url("../public/font/IBMPlexMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  font-family: "IbmPlexMone-Bold";
}

input, span, button, h2, h1{
  font-family: "IbmPlexMone-Bold" !important;
}

p{
  font-family: "IbmPlexMone-Regular" !important;
}

/*Hide scrollbar on Chrome, Safari, and Opera */
#algorithms::-webkit-scrollbar {
  display: none; 
}

/*Hide scrollbar on firefox*/
#algorithms{
  scrollbar-width: none;
}

@layer {
  .clip-triangle {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}
