@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bangers";
  src: url("../public/font/Bangers-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  font-family: "Bangers";
}

input[type="range"] {
  accent-color: #faa916;
  cursor: pointer;
}

@layer {
  .clip-triangle {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}
